#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(53, 52, 52);
}

.card {
  margin: 10px;
  padding: 30px;
  background-color: rgb(94, 94, 94);
  border: solid 1px rgb(176, 176, 176);
  
}
